

            <div class="full-screen">
                <div class='about'>
                    <div class="contact-img">
                        <img src="/static/img/about-image.png">
                    </div>

                    <div class="about-contact">
                        <div id="first">
                            <h1>Address:</h1>
                            <div id="address">
                                <p>Sofia, Mladost 9</p>
                                <p>Vasil Levski Boulevard 999</p>
                            </div>
                        </div>
                        <div id="second">
                            <h1>Contacts:</h1>
                            <div id="contacts">
                                <p>+1 224 201 4201</p>
                                <p>yavortotev@yahoo.com</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        